---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    
    <section class=" text-center p-6 max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">À propos</h1>
        <p class="text-lg text-gray-700 px-6">
            <br><br>Le festival "Ça va traïler", créé en 2015, célèbre le sport, la nature et le dépassement de soi à travers 
            des rencontres entre athlètes, artistes et passionnés. Organisé par une équipe engagée et soutenu par des bénévoles, 
            il promeut des valeurs d’inclusion, de respect de l’environnement et de créativité. Chaque édition, dont la thématique 
            2025 est "La Nature comme partenaire d’excellence", invite à partager des expériences uniques et à sensibiliser à la 
            préservation des espaces naturels.
        </p>
    </section>
</Layout>
